header {
  position: fixed;
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  padding-left: 3rem;
  background-color: #7695EC;
  color: #ffffff;
}